{% block swag_faqCategory_detail %}
    <sw-page class="swag-faqCategory-detail">
        {% block swag_faqCategory_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                        @on-change="onChangeLanguage"
                        :saveChangesFunction="saveOnLanguageChange"
                        :disabled="isNew">
                </sw-language-switch>
            </template>
        {% endblock %}
    
        <template slot="smart-bar-actions">

            <sw-button :routerLink="{ name: 'faq.category.bundle.list' }">
                {{ $t('faq-category-bundle.detail.cancelButtonText') }}
            </sw-button>

            <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
                {{ $t('faq-category-bundle.detail.saveButtonText') }}
            </sw-button-process>

        </template>

        <template slot="content">
            <sw-card-view>
                <sw-card v-if="faqCategory" :isLoading="isLoading">
                    <sw-field :label="$t('faq-category-bundle.detail.nameLabel')" v-model="faqCategory.name"></sw-field>         
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
