<div class="col-12">
    <h4>{{ category.translated.name ?: category.name }}</h4>
</div>
<div class="col-12 accordion" id="accordion-{{ category.id }}">
    {% if not category.faqs is empty %}
        {% for question in category.faqs %}
            {% sw_include '@CrehlerFaq/storefront/component/faq/faq-question.html.twig' with {
                question: question,
                categoryId: category.id
            } %}
        {% endfor %}
    {% endif %}
</div>
