<div class="card">
    <div class="card-header" id="heading-{{ question.id }}">
        <p class="question">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse-{{ question.id }}" aria-expanded="false"
                    aria-controls="collapse-{{ question.id }}">{{ question.translated.question|nl2br ?: question.question|nl2br }}</button>
        </p>
    </div>

    <div id="collapse-{{ question.id }}" class="collapse"
         aria-labelledby="heading-{{ question.id }}" data-parent="#accordion-{{ categoryId }}">
        <div class="card-body">
            <p class="answer">{{ question.translated.answer|nl2br ?: question.answer|nl2br }}</p>
        </div>
    </div>
</div>
