{% block swag_faq_detail %}
    <sw-page class="swag-faq-detail">
        {% block swag_faq_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                        @on-change="onChangeLanguage"
                        :saveChangesFunction="saveOnLanguageChange"
                        :disabled="isNew">
                </sw-language-switch>
            </template>
        {% endblock %}
    
        <template slot="smart-bar-actions">

            <sw-button :routerLink="{ name: 'faq.bundle.list' }">
                {{ $t('faq-bundle.detail.cancelButtonText') }}
            </sw-button>

            <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
                {{ $t('faq-bundle.detail.saveButtonText') }}
            </sw-button-process>
        </template>

        <template slot="content">
            <sw-card-view>
                <sw-card v-if="faq" :isLoading="isLoading">
                    <sw-field :label="$t('faq-bundle.detail.nameLabel')" v-model="faq.question"></sw-field>

                    <sw-textarea-field type="textarea" :label="$t('faq-bundle.detail.answersLabel')" v-model="faq.answer"></sw-textarea-field>
                    
                    <sw-entity-single-select
                        :label="$t('faq-bundle.detail.categoryLabel')"
                        v-model="faq.crehlerFaqCategoryId"
                        entity="crehler_faq_category">
                    </sw-entity-single-select>
                    
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
