{% block swag_faqCategory_list %}
    <sw-page class="faq-category-bundle-list">
        {% block swag_faqCategory_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button variant="primary" :routerLink="{ name: 'faq.category.bundle.create' }">
                    {{ $t('faq-category-bundle.list.addButtonText') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block swag_faqCategory_list_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                        @on-change="onChangeLanguage"
                        :saveChangesFunction="saveOnLanguageChange"
                        :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            </template>
        {% endblock %}

        <template slot="content">
            {% block swag_faqCategory_list_content %}
                <sw-entity-listing
                    v-if="faqCategory"
                    :items="faqCategory"
                    :repository="repository"
                    :showSelection="false"
                    :columns="columns">
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
