{% block block_creheler_faq %}
    {% if not page.cmsPage.extensions.faq is empty %}
        {% for category in page.cmsPage.extensions.faq.elements %}
            {% sw_include '@CrehlerFaq/storefront/component/faq/faq-category.html.twig' with {
                category: category
            } %}
        {% endfor %}
    {% endif %}
{% endblock %}

