{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% block base_main_inner %}
    <div class="container">
		<div class="container-main">
			{% block page_content %}
				<div class="cms-page">
					{% block page_content_blocks %}
						{% block page_content_sections_inner %}
							<div class="cms-sections">
								<div class="cms-section">
                                    {% if not page.faq is empty %}
                                        {% for category in page.faq %}
                                            {% sw_include '@CrehlerFaq/storefront/component/faq/faq-category.html.twig' with {
                                                category: category
                                            } %}
                                        {% endfor %}
                                    {% endif %}
								</div>
							</div>
						{% endblock %}
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}
